button {
  cursor: pointer;
  height: 50px;
  border-radius: 5px;
  font-size: 25px;
  font-family: Oxanium, sans-serif;
  color: white;
  border: none;
  outline: none;
  &:hover {
    filter: brightness(110%);
  }
  &:active {
    transform: scale(0.99);
  }

  &.wrong {
    background: $danger-color;
    margin-right: 25px;
  }
  &.right {
    background: $success-color;
  }
  &.wrong,
  &.right {
    width: 40%;
  }

  &.start,
  &.play-again {
    width: 90%;
    background: $primary-color;
  }
}
